@charset "UTF-8";

html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #FFF09F;
}

a{
    text-decoration: none;
}

p{
    color: #252525;
    font-size: 1.6rem;
    font-weight: bold;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_flex{
    display: none;
}

.sp_inline{
    display: none;
}

.sp_only{
    display: none;
}

header{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    position: fixed;
    width: 100%;
    z-index: 10000;
    background: white;
}

header .wrap{
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap .left h1{
    font-size: 1.4rem;
    color: #979797;
    margin-bottom: .8rem;
}

header .wrap .left img{
    width: 21.934rem;
}

header .wrap .right {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header .wrap .right a{
    font-size: 1.8rem;
    color: white;
    padding: 1rem 3.5rem;
    border-radius: .6rem;
    font-weight: bold;
}

header .wrap .right a:first-child{
    background: #03CDD5;
    box-shadow: 0 .5rem #00A0A7;
}

header .wrap .right a:nth-child(2){
    background: #034FD5;
    margin-left: .8rem;
    box-shadow: 0 .5rem #1C3F7D;
}

header .wrap .right a:hover{
    transform: translateY(.5rem);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}


.cta{
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.cta::before{
    position: absolute;
    content: "";
    width: 15.5rem;
    height: 15.5rem;
    left: 50%;
    top: 0;
    transform: translate(-225%, -59%);
    background: url("../img/cat_mini.gif")no-repeat center center/contain;
    z-index: -1;
}

.cta::after{
    position: absolute;
    content: "";
    width: 17.3rem;
    height: 3.8rem;
    top: -3rem;
    left: 50%;
    transform: translate(-133%, -40%);
}

.cta a{
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    padding: 2.5rem 6rem;
    border-radius: 1.3rem;
}

.cta a:first-child{
    background: #03CDD5;
    box-shadow: 0 1rem #00A0A7;
}

.cta a:nth-child(2){
    background: #034FD5;
    margin-left: 3.3rem;
    box-shadow: 0 1rem #1C3F7D;
}


.cta a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 60%);
    transform: translateY(1rem);
}


main{
    overflow-x: hidden;
    padding-top: 9.5rem;
}

footer{
    background: #787878;
    color: white;
}

footer a{
    color: white;
}

footer .right a{
    font-size: 2rem;
    padding-right: 3rem;
    margin-right: 3rem;
    border-right: .1rem solid white;
    transition: all .2s ease-in-out;
}

footer a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

footer a:last-child{
    margin: 0;
    padding: 0;
    border: none;
}

footer .wrap{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 0;
}

footer .wrap h3{
    font-size: 1.8rem;
    margin-bottom: .3rem;
}

footer .wrap h2{
    font-size: 2.8rem;
    margin-bottom: .5rem;
}

footer .wrap p{
    color: white;
}

@media screen and (max-width: 1024px){
    header .wrap{
        width: 95%;
    }
}

@media screen and (max-width: 767px){
    html{
        font-size: 2.667vw;
    }

    p{
        font-size: 1.6rem;
    }

    .pc_only{
        display: none !important;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex !important;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    header{
        background: white;
    }

    header .wrap{
        justify-content: center;
        padding: 1.2rem 0;
    }

    header .wrap .left img{
        width: 14.268rem;
    }

    main{
        padding-top: 5.5rem;
    }

    .cta{
        width: 85.33%;
        margin: auto;
    }

    .cta a{
        font-size: 2rem;
        line-height: 1;
        padding: 1.5rem 0;
        width: 48%;
        text-align: center;
    }

    .cta::before{
        width: 4.6rem;
        height: 5.8rem;
        transform: translate(-340%, -65%);
    }

    .cta::after{
        width: 12.5rem;
        height: 2.4rem;
        top: -2rem;
        left: 50%;
        transform: translate(-95%, -40%);
    }

    footer .wrap{
        padding: 2.8rem 0 2rem;
        flex-direction: column;
    }

    footer .wrap .left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .wrap .left h3{
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }

    footer .wrap .left h2{
        font-size: 3.1rem;
        margin-bottom: 3.5rem;
    }

    footer .wrap .right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .wrap .right a{
        margin: 0;
        padding: 0;
        border-right: none;
        font-size: 1.6rem;
        margin-bottom: 2.2rem;
    }
}